# Ambiente Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Git
.git/
.gitignore

# VS Code
.vscode/

# Logs
*.log

# Banco local
*.db
*.sqlite3

# Variáveis de ambiente
.env

# Cache
.pytest_cache/
.mypy_cache/

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Documentação e arquivos auxiliares
docs/
tests/
*.xlsx

# Arquivos do GitHub
.github/

# Sistema
.DS_Store
Thumbs.db